<h1>SDK integration</h1>

<strong>MOBILE_API_KEY:</strong> <%= ENV['MOBILE_API_KEY'] %>

<div class="alert alert-info small mt-4">NB: Although we use a <strong>mobile_api_key</strong> parameter as a rudimentary security mechanism, please note that this endpoint doesn't provide any user authentication.<br /><strong>It is up to each developer to implement one or use existing systems</strong>.</div>


<h2 class="mt-4 mb-2">User Authorisation</h2>
<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text input-group-text-post">POST</div>
  </div>
  <div class="form-control form-control-url"><%= "#{request.protocol}#{request.host_with_port}" %>/api/jwt</div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <h4 class="h6 mt-4">Request body <span class="badge badge-success">application/json</span></h4>
    <table class="table table-sm mt-4 small">
    <thead>
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Required</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>mobile_api_key</strong></td>
        <td>string</td>
        <td>✓</td>
      </tr>
      <tr>
        <td><strong>user_name</strong></td>
        <td>string</td>
        <td>✓</td>
      </tr>
      <tr>
        <td><strong>expires_at</strong></td>
        <td>string</td>
        <td></td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="col-12 col-md-6">
    <h4 class="h6 mt-4">Response <span class="badge badge-success">application/json</span></h4>
    <pre>{
  "user_id": "USR-77d8faa0-...",
  "user_name": "Jane",
  "jwt": "eyJh...",
  "expires_at": "2019-03-13T14:53:06.819Z"
}</pre>
  </div>
</div>


<h2 class="mt-5 mb-4">Call Queueing</h2>

<h3>Retrieve list of waiting calls</h3>

<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text input-group-text-post">POST</div>
  </div>
  <div class="form-control form-control-url"><%= "#{request.protocol}#{request.host_with_port}" %>/api/queue</div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <h4 class="h6 mt-4">Request parameters</h4>
    <table class="table table-sm mt-4 small">
    <thead>
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Required</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>mobile_api_key</strong></td>
        <td>string</td>
        <td>✓</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="col-12 col-md-6">
    <h4 class="h6 mt-4">Response <span class="badge badge-success">application/json</span></h4>
    <pre>{
  "conversations":[
    {
      "msisdn":"447817135360",
      "conversation_id":"CON-8972ea6a-729a-4087-bdd7-eeadd44932bb",
      "leg_id":"658bd115ead87bf526686ff5bb785cda",
      "timestamp":"1567514289"
    }
  ]
}</pre>
  </div>
</div>


<h3>Transfer a waiting call</h3>

<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text input-group-text-post">POST</div>
  </div>
  <div class="form-control form-control-url"><%= "#{request.protocol}#{request.host_with_port}" %>/api/queue/transfer</div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <h4 class="h6 mt-4">Request parameters</h4>
    <table class="table table-sm mt-4 small">
    <thead>
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Required</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>mobile_api_key</strong></td>
        <td>string</td>
        <td>✓</td>
      </tr>
      <tr>
        <td><strong>leg_id</strong></td>
        <td>string</td>
        <td>✓</td>
      </tr>
      <tr>
        <td><strong>conversation</strong></td>
        <td>string</td>
        <td>✓</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="col-12 col-md-6">
    <h4 class="h6 mt-4">Response <span class="badge badge-success">application/json</span></h4>
    <pre>{
  "status":"OK"
}</pre>

    or
    <pre>{
  "status":"Something went wrong"
}</pre>
  </div>
</div>






<h3>Send NCCO to a waiting call</h3>

<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text input-group-text-post">POST</div>
  </div>
  <div class="form-control form-control-url"><%= "#{request.protocol}#{request.host_with_port}" %>/api/queue/ncco</div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <h4 class="h6 mt-4">Request parameters</h4>
    <table class="table table-sm mt-4 small">
    <thead>
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Required</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>mobile_api_key</strong></td>
        <td>string</td>
        <td>✓</td>
      </tr>
      <tr>
        <td><strong>leg_id</strong></td>
        <td>string</td>
        <td>✓</td>
      </tr>
    </tbody>
    </table>
    <h4 class="h6 mt-4">Request Body (NCCO) <span class="badge badge-success">application/json</span></h4>
    eg:
    <pre>[
  {
    "action": "talk",
    "text": "Thank you for waiting. We'll connect you now..."
  },
  {
    "action": "conversation",
    "name": "AGENT-Jane"
  }
]</pre>
  </div>
  <div class="col-12 col-md-6">
    <h4 class="h6 mt-4">Response <span class="badge badge-success">application/json</span></h4>
    <pre>{
  "status":"OK"
}</pre>
    or
    <pre>{
  "status":"Something went wrong"
}</pre>
  </div>
</div>



