<h1 class="h3 mt-4 text-center"><%= @nexmo_app.name %></h1>
<h4 class="h6 text-center"><%= @nexmo_app.app_id %></h6>


<%= form_with(url: app_update_path, local: true) do |form| %>
  <% if @nexmo_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nexmo_app.errors.count, "error") %> prohibited this Nexmo app from being saved:</h2>

      <ul>
      <% @nexmo_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 text-center">
      <div class="form-group">
        <h3 class="mt-4">Custom Answer NCCO</h3>
        <%= form.text_area "nexmo_app[voice_answer_custom_ncco]", id: 'voice_answer_custom_ncco', rows: 20, value: @nexmo_app.voice_answer_custom_ncco, class:"form-control pre", required: true %>
      </div>

      <%= form.submit "Update", class: 'btn btn-primary' %>
      <%= link_to 'Cancel', app_path, class: 'btn btn-secondary' %>

    </div>
  </div>

<% end %>





