<div class="float-md-right">
  <%= link_to raw('<i class="fas fa-download"></i> Private key'), app_private_key_path, class: 'btn btn-sm btn-outline-primary' %>
  <%= link_to raw('<i class="fas fa-download"></i> Public key'), app_public_key_path, class: 'btn btn-sm btn-outline-primary' %>
</div>

<h1 class="mb-5"><%= @nexmo_app.name %></h1>

<table class="table">
<tr>
  <th>App id</th>
  <td><%= @nexmo_app.app_id %></td>
</tr>
<tr>
  <th>App name</th>
  <td><%= @nexmo_app.name %></td>
</tr>
<tr>
  <th>Answer URL</th>
  <td>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-text-<%= (@nexmo_app.voice_answer_method || "").downcase %>"><%= @nexmo_app.voice_answer_method %></div>
      </div>
      <%= link_to @nexmo_app.voice_answer_url, webhooks_answer_path, class: 'form-control form-control-url', target: '_blank' %>
    </div>
  </td>
</tr>
<tr>
  <th>Voice Event  URL</th>
  <td>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-text-<%= (@nexmo_app.voice_event_method || "").downcase %>"><%= @nexmo_app.voice_event_method %></div>
      </div>
      <span class="form-control form-control-url"><%= @nexmo_app.voice_event_url %></span>
    </div>
  </td>
</tr>
<tr>
  <th>Phone number</th>
  <td>
    <% if @nexmo_app.number_msisdn.blank? %>
      <%= link_to raw('<i class="fas fa-plus"></i> Add'), numbers_path, class: 'btn btn-outline-primary btn-sm' %>
    <% else %>
      <%= @nexmo_app.number_msisdn %> (<%= @nexmo_app.number_country %>)
    <% end %>
  </td>
</tr>
<tr>
  <th>NCCO</th>
  <td>
    <p>Change for: 
      <%= link_to "Custom", app_ncco_custom_path, method: :post, class: 'btn btn' + ( @nexmo_app.custom? ? '' : '-outline') + '-primary btn-sm' %>
      <%= link_to "Inbound Call", app_ncco_inbound_path, method: :post, class: 'btn btn' + ( @nexmo_app.inbound_call? ? '' : '-outline') + '-primary btn-sm' %>
      <%= link_to "Outbound Call", app_ncco_outbound_path, method: :post, class: 'btn btn' + ( @nexmo_app.outbound_call? ? '' : '-outline') + '-primary btn-sm' %>
      <%= link_to "IVR", app_ncco_ivr_path, method: :post, class: 'btn btn' + ( @nexmo_app.ivr? ? '' : '-outline') + '-primary btn-sm' %>
      <!--
      <%= link_to "Call Whisper", app_ncco_whisper_path, method: :post, class: 'btn btn' + ( @nexmo_app.call_whisper? ? '' : '-outline') + '-primary btn-sm' %>
      -->
      <%= link_to "Call Queueing", app_ncco_queue_path, method: :post, class: 'btn btn' + ( @nexmo_app.call_queue? ? '' : '-outline') + '-primary btn-sm' %>
    </p>
    <%= raw @nexmo_app.voice_answer_ncco_descriptive({webhooks_dtmf_url: webhooks_dtmf_url, server_url: root_url}) %>
  </td>
</tr>
</table>


<!-- 
<a href="/reset">reset</a>


<%= @nexmo_app.inspect %>

-->